<div>
    <form (ngSubmit)="saveProduct(myForm)" #myForm="ngForm" >
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="title" [(ngModel)]="product.name" required #name="ngModel">
            <span *ngIf="name.invalid && name.touched"><small>Name is a required field</small></span>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" [(ngModel)]="product.price" name="price" required #price="ngModel">
            <span *ngIf="price.invalid && price.touched"><small>Price is a required field</small></span>

          </div>
        
          <div>
            <label for="description">Description:</label>
            <textarea id="description"  [(ngModel)]="product.description" name="description" required ></textarea>
          </div>
        
          <div>
            <label for="imageUrl">Image URL:</label>
            <input type="text"  [(ngModel)]="product.imageUrl" id="image" name="imageUrl" required #imageUrl="ngModel">
            <span *ngIf="imageUrl.invalid && imageUrl.touched"><small>Image is a required field</small></span>
          </div>
        
          <div>
            <label for="category">Category:</label>
            <input type="text"  [(ngModel)]="product.category" id="category" name="category" required #category="ngModel">
            <span *ngIf="category.invalid && category.touched"><small>Category is a required field</small></span>
          </div>
          <button type="submit" [disabled]="!myForm.valid">Save Product</button>
    </form>
</div>