<div>
    <form (ngSubmit)="saveProduct(myForm)" #myForm="ngForm" >
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="title" [(ngModel)]="product.title" required #title="ngModel">
            <span *ngIf="title.invalid && title.touched"><small>Name is a required field</small></span>
        </div>
        <div>
            <label for="price">Price:</label>
            <input type="number" id="price" [(ngModel)]="product.price" name="price" required #price="ngModel">
            <span *ngIf="price.invalid && price.touched"><small>Price is a required field</small></span>

          </div>
        
          <div>
            <label for="description">Description:</label>
            <textarea id="description"  [(ngModel)]="product.description" name="description" required ></textarea>
          </div>
        
          <div>
            <label for="image">Image URL:</label>
            <input type="text"  [(ngModel)]="product.image" id="image" name="image" required #image="ngModel">
            <span *ngIf="image.invalid && image.touched"><small>Image is a required field</small></span>
          </div>
        
          <div>
            <label for="category">Category:</label>
            <input type="text"  [(ngModel)]="product.category" id="category" name="category" required #category="ngModel">
            <span *ngIf="category.invalid && category.touched"><small>Category is a required field</small></span>


          </div>
        
          <button type="submit" [disabled]="!myForm.valid">Save Product</button>
    </form>
</div>