
form{
  margin:20px;
}

mat-form-field{
  width:100%;
  margin-bottom: 16px;
}

h1 {
  color: #2196F3; /* Primary color for the title */
}

h4 {
  margin-bottom: 16px;
}

button[type="submit"] {
  background-color: #4CAF50; /* Green button color */
  color: #fff;
  padding:8px;
}

button[type="submit"]:hover {
  background-color: #45a049; /* Darker green on hover */
}

a[mat-raised-button] {
  background-color: #FF5722; /* Orange button color */
  color: #fff; /* White text color */
  padding: 8px;
}

a[mat-raised-button]:hover {
  background-color: #e64a19; /* Darker orange on hover */
}
