.menu-container{
    background-color: black;
    color: azure;
    display: flex;
    justify-content: center;
    width:100%;
}
.menu-container a{
    text-decoration: none! important;
    margin:20px;
}
a{
    color:white
}