<div class="cart">
    <h2 class="heading">My Cart</h2>
     <h5 *ngIf="!cart">Start Adding Items to Cart!</h5>
     <h5 *ngIf="cart">Total Price: ${{ cart.totalPrice }}</h5>
    </div>

    

    <div class="single-item" *ngFor="let item of cart.items">
      <app-cart-item [item]="item"></app-cart-item>
      <div class="buttons">

      <button (click)="increment(item)" >
        <mat-icon>plus_one</mat-icon>
      </button>
      <button (click)="decrement(item)" >
        <mat-icon>exposure_neg_1</mat-icon>
      </button>
      <button (click)="removeItem(item)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    </div>
  
    <div *ngIf="cart" class="down-buttons">
      <button (click)="openCheckoutModal()" class="checkout-cart">Checkout</button>
    <button class="delete-cart" (click)="deleteCart()">Delete Cart</button>
   
  </div>


  


