<div class="cart">
    <h2>My Cart</h2>
     <button *ngIf="cart" mat-button color="warn" (click)="deleteCart()">Delete Cart</button>
     <h3 *ngIf="!cart">Add Items to cart</h3>
    </div>

    

    <div class="single-item" *ngFor="let item of cart.items">
      <app-cart-item [item]="item"></app-cart-item>
      <button (click)="removeItem(item)">
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="increment(item)" >
        <mat-icon>plus_one</mat-icon>
      </button>
      <button (click)="decrement(item)" >
        <mat-icon>exposure_neg_1</mat-icon>
      </button>
    </div>
    <p>Total Price: ${{ cart.totalPrice }}</p>

  


