

     <div class="form-container">
        <h2>Login</h2>
        <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
           
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required formControlName="email">
            <span *ngIf="reactiveForm.get('email').invalid && reactiveForm.get('email').touched"><small>Email is a required field</small></span>
        </div>
        <div class="form-group">
            <label for="name">Password:</label>
            <input  type="text" id="password" name="password" required formControlName="password">
            <span *ngIf="reactiveForm.get('password').invalid && reactiveForm.get('password').touched"><small>Password is a required field</small></span>
        </div>
            <button type="submit">Submit</button>
            <div class="signup">
                <a style="color:black" routerLink="/signup">Don't have an account? SignUp!</a>
            </div>
        </form>
    
    </div>

   
    
        

    